// 
// General
// 


body {
    font-family: $font-primary;
    font-size: $base-font;
    line-height: 1.75;
    overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
}

h1,
.h1 {
    font-size: $h1-font-size;
    line-height: $h1-line-height;
}

h2,
.h2 {
    font-size: $h2-font-size;
    line-height: $h2-line-height;
}

h3,
.h3 {
    font-size: $h3-font-size;
    line-height: $h3-line-height;
}

a {
    text-decoration: none !important;
    outline: none;
}

p {
    font-size: $base-font;
    line-height: 1.75;
}

html {
    scroll-padding-top: var(--site-header-height, 80px);
    scroll-behavior: smooth;
    overflow-x: clip;
}

.row > * {
    position: relative;
}


